

// You can modify the theme directly, or override some of the variables
// Overrides just need placed prior to the theme import
// For example:
// $color-primary: #3a0;
@import "global-css/theme";
@import "comp-related-styles/reset";
@import "utility-styles/logomark";
@import "utility-styles/typography";
@import "comp-related-styles/layout";
@import "blockrelated-styles/header";
@import "blockrelated-styles/nav";
@import "blockrelated-styles/about";
@import "blockrelated-styles/guidelines";
@import "blockrelated-styles/contribute";
@import "blockrelated-styles/files";
@import "blockrelated-styles/styles";
@import "blockrelated-styles/profile";
@import "blockrelated-styles/footer";
@import "utility-styles/links";
// Rebeca added fonts
@import "utility-styles/fonts"; 

$headline-font: 'cybersky';
$secondary-headline: 'astro-space';
$body-font: 'reformation-sans';
h1 {
    font-family: $headline-font;
}
h2, h3 {
    font-family: $secondary-headline;
}
p {
    font-family: $body-font;
}