/* 
* GLOBAL: 
*   Applies properties to some of the largest
*   elements to affect the overall appearance
*   and layout.
*/

body {
  @include background($bg-gradient ...);
}

nav {
  ul {
    @include flex-row-wrapped-centered;
    @include no-margin-padding;
    li {
      margin: 0.25rem;
    }
  }
}

main {
    padding-top: 5vh;
    padding-bottom: 5vh;
  
    &:focus {
      outline: none;
    }
}

// applies to all 3 article descendants belonging to main
article {
  padding: 1rem;

  .container {
      // max-width 80ch w/left and right margins set to auto
      @include auto-lr-margins;
      @include max-width-standard;
      
      // arranged in column direction w/items aligned to flex-start
      @include flex-column-w-start-items;

      > ol {
      > li + li {
          margin-top: 1rem; // applied to li elements inside ol and ul lists
      }
      }
  
      * {
      + h2 {
          margin-top: 4rem;
          align-self: center;
          @include h2-box; // adjusts text alignment, padding, color, and background-color
      }
  
      + h3 {
          margin-top: 2rem;
      }
      }
  }
}