/* 
* GLOBAL TYPOGRAPHY: 
*   Handles general styling of text elements with
*   properties such as font-family, size, weight, 
*   line-height, spacing, and color.
*/

body {
  font-family: var(--font-family-body), var(--font-family-no-primary);
}

p {
  margin: 0 0 1rem; // margin-bottom = 1rem
}

p,
li {
  font-size: var(--font-size-text);
}

a {
  color: var(--color-a);
  text-decoration: none;
}

strong {
  font-weight: var(--font-weight-strong);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-family: var(--font-family-h1), var(--font-family-no-primary);
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  color: var(--color-h2);
  text-align: center;
  //align-self: center;
  margin-top: 4rem;
}

h3 {
  font-size: var(--font-size-h3);
  color: var(--color-h3);
  margin-top: 2rem;
}

// only one inside .profile class
h4 {
  font-size: var(--font-size-h4);
  color: var(--color-h4);
  text-align: center;
  margin: 0;
}

header {
  color: var(--color-header);
}

section {
  color: var(--color-aside);
}

aside {
  color: var(--color-aside);
}
