/* 
* GLOBAL TYPOGRAPHY: 
*   Handles general styling of text elements with
*   properties such as font-family, size, weight, 
*   line-height, spacing, and color.
*/

body {
  font-family: var(--font-family-body), var(--font-family-no-primary);
}

section,
header {
    color: var(--color-extra-light);
}

footer > * {
  color: var(--color-footer);
}

p,
li {
  margin: 0 0 1rem; // margin-bottom = 1rem
  font-size: var(--font-size-text);
}

a {
  color: var(--color-extra-light);
  text-decoration: none;
  font-size: var(--font-size-anchor);
}

p {
  a {
    color: var(--color-contrast);
  }
}

li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
}

nav {
  ul {
    @include no-margin-padding;
  }
  li {
    margin: 0.5rem;
    padding-left: 3rem;
    @media (min-width: 750px) {
      margin: 1rem 1.25rem;
    }
    
  }
  a {
    display: inline-grid;

    // given same size of smallest header at 1.35rem
    font-size: var(--font-size-h4);
    padding: 0.5rem 0;
  }
}

strong {
  font-weight: var(--font-weight-strong);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
  align-self: center;
}

h1 {
  font-family: var(--font-family-h1), var(--font-family-no-primary);
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
  @include logo-glow;
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  margin-top: 4rem;
  color:var(--color-extra-light);
}

h3 {
  font-size: var(--font-size-h3);
  color: var(--color-accent-secondary);
  margin-top: 2rem;
}

// only one inside .profile class
h4 {
  font-size: var(--font-size-h4);
  color: var(--color-accent-secondary);
  text-align: center;
  margin: 0;
}
