/* 
* UTILITIES BANNER
*   Creates the banner displaying 'Style Stage' 
*   in the header and 'S' in the footer.
*/
@mixin banner() {
  display: inline-grid;
  min-height: var(--banner-height);
  padding: var(--banner-padding);
  place-content: center;
}
