/* 
* UTILITIES INDEX 
*   Imports all files in the global directory so only
*   this file is imported directly into style.scss
*/
@mixin logomark() {
  display: inline-grid;
  min-height: var(--banner-height);
  padding: var(--banner-padding);
  border: 0.16em solid var(--color-primary);
  box-shadow: 0.12em 0.12em var(--color-secondary);
  place-content: center;
}
