/* 
* GLOBAL VARIABLES: 
*   Creates CSS variables and sets their 
*   values using design tokens.
*/
$border-radius: 8px !default;

// stylelint-disable
:root {

  // generate a CSS variable for every mapped sass variable 
  // in design-tokens/colors and design-tokens/fonts 
  @each $key, $color in $colors {
    --color-#{$key}: #{$color};
  }
  @each $key, $color in $bg-color-by-element {
    --bg-color-#{$key}: #{$color};
  }
  @each $key, $font in $font-families {
    --font-family-#{$key}: "#{$font}";
  }
  @each $key, $size in $font-sizes {
    --font-size-#{$key}: #{$size};
  }

  --font-weight-strong: #{$font-weight-strong};
  --border-radius: #{$border-radius};
  --font-family-no-primary: #{$no-primary-font};

}
