@use 'sass:list';
$dark: #09182E !default;            // dark blue
$dark-secondary: #552C85 !default;  // dark purple
$accent: #DA40D3  !default;   // pink (an accent to dark blue)
$accent-secondary: #FFE5B9 !default;  // butter yellow (an accent to dark purple)
$contrast: #16C8E3 !default;  // sky blue
$high-contrast: #FFD542 !default;      // bright yellow
$extra-light: #fff !default;              // white
$transparent-dark: #562c8591 !default; // purple
$bg-color-footer:  #01040A;

 
$bg-gradient: $dark, $dark-secondary, $bg-color-footer ;

// whole page has a linear gradient background
@mixin background-gradient {
  background-image:linear-gradient(to bottom, $bg-gradient);
}

$colors: (
  dark: $dark,
  dark-secondary: $dark-secondary,
  accent: $accent,
  accent-secondary: $accent-secondary,
  contrast: $contrast,
  high-contrast: $high-contrast,
  extra-light: $extra-light,
  transparent-dark: $transparent-dark
);

// background-color property values given to elements found in global/global.scss
$bg-color-by-element: (
  section: $dark,
  footer: $dark
);

@function color($key) {
  @return map-get($colors, $key);
}

