@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap");
@font-face {
    font-family: 'cybersky';
    src: url('../../resources/fonts/cybersky-trial-font/misc/Cybersky Free Trial-2c0d.woff') format('woff');
}

@font-face {
    font-family: 'reformation-sans';
    src: url('../../resources/fonts/reformation-sans-regular-font/ReformationSansRegular-32mL.ttf') format('truetype');
}

@font-face {
    font-family: 'astro-space';
    src: url('../../resources/fonts/a-astro-space-font/AstroSpace-eZ2Bg.ttf') format('truetype');
}