@charset "UTF-8";
/* 
* DESIGN TOKENS INDEX: 
*   Imports all files in the global directory so only
*   this file is imported directly into style.scss
*/
/*
* handles 3 font-based properties:
* font-family, font-size, and font-weight
*/
@font-face {
  font-family: "Cybersky";
  src: url("../sass/resources/fonts/cybersky-trial-font/misc/Cybersky Free Trial-2c0d.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Reformation Sans";
  src: url("../sass/resources/fonts/reformation-sans-regular-font/ReformationSansRegular-32mL.ttf") format("truetype");
  font-display: swap;
}
/* 
* UTILITIES INDEX 
*   Imports all files in the global directory so only
*   this file is imported directly into style.scss
*/
/* 
* GLOBAL VARIABLES: 
*   Creates CSS variables and sets their 
*   values using design tokens.
*/
:root {
  --color-dark: #122A4E;
  --color-dark-2: #552C85;
  --color-accent: #DA40D3;
  --color-accent-2: #FFE5B9;
  --color-contrast: #16C8E3;
  --color-high-contrast: #FFD542;
  --color-extra-light: #fff;
  --color-transparent-dark: rgba(86, 44, 133, 0.568627451);
  --bg-color-section: #122A4E;
  --bg-color-footer: #122A4E;
  --font-family-body: "Reformation Sans";
  --font-family-h1: "Cybersky";
  --font-family-h2: "Reformation Sans";
  --font-family-h3: "Reformation Sans";
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --font-weight-strong: 500;
  --border-radius: 8px;
  --font-family-no-primary: sans-serif;
}

/* 
* UTILITIES TYPOGRAPHY:
*   Uses mixins to apply style patterns to certain
*   text elements so they appear inside a box.
*/
/* UTILITIES SPACING:
*   Uses mixins to apply commonly-used margins
*   and padding to elements.
*/
/* 
* UTILITIES LAYOUT:
*   Defines layout-based mixins
*   using flexbox and grid.
*/
/* 
* UTILITIES BANNER
*   Creates the banner displaying 'Style Stage' 
*   in the header and 'S' in the footer.
*/
/* 
* GLOBAL INDEX: 
*   Imports all files in the global directory so only
*   this file is imported directly into style.scss
*/
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* 
* GLOBAL LAYOUT
*   Applies properties to some of the largest
*   elements to affect the overall appearance
*   and layout.
*/
body {
  background-image: linear-gradient(to bottom, #122A4E, #552C85, #DA40D3, #FFE5B9);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}

li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0.25rem;
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
main:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 100%;
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color-section);
}

article {
  padding: 1rem;
}
article > ol > li + li {
  margin-top: 1rem;
}
article * + h2 {
  align-self: center;
  text-align: center;
  padding: 0.25em 0.5em;
  background-color: var(--color-secondary);
  color: var(--color-background);
}

footer {
  background-color: var(--bg-color-footer);
}

/* 
* GLOBAL TYPOGRAPHY: 
*   Handles general styling of text elements with
*   properties such as font-family, size, weight, 
*   line-height, spacing, and color.
*/
body {
  font-family: var(--font-family-body), var(--font-family-no-primary);
}

p {
  margin: 0 0 1rem;
}

p,
li {
  font-size: var(--font-size-text);
}

a {
  color: var(--color-a);
  text-decoration: none;
}

strong {
  font-weight: var(--font-weight-strong);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-family: var(--font-family-h1), var(--font-family-no-primary);
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  color: var(--color-h2);
  text-align: center;
  margin-top: 4rem;
}

h3 {
  font-size: var(--font-size-h3);
  color: var(--color-h3);
  margin-top: 2rem;
}

h4 {
  font-size: var(--font-size-h4);
  color: var(--color-h4);
  text-align: center;
  margin: 0;
}

header {
  color: var(--color-header);
}

section {
  color: var(--color-aside);
}

aside {
  color: var(--color-aside);
}

/* 
* COMPOSITIONS INDEX:
*   Imports all files in the global directory so only
*   this file is imported directly into style.scss. 
*/
/* 
* COMPOSITIONS HEADER:
*   Handles all styling inside the header.
*/
header {
  --h1-height: 3em;
  --h1-padding: 0 1em;
  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  color: var(--white);
  text-align: center;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a00ff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d42257' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: 0 -38px, 17px -40px;*/
}
header h1 {
  display: inline-grid;
  min-height: var(--banner-height);
  padding: var(--banner-padding);
  place-content: center;
}
header h2 {
  max-width: 30ch;
}

/* 
* COMPOSITIONS ABOUT:
*   #about is the first article element in
*   main. It contains two .container sections. 
*   The first section talks about the Style Stage
*   project, and second section lists the many CSS 
*   styling tools available today. Decorative styles
*   for these elements are found in blocks/about.
*/
#about {
  font-size: var(--font-size-h4);
}
#about strong {
  font-size: var(--font-size-strong);
}

#about section:nth-child(1) blockquote {
  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
  padding: 0;
  margin: 3rem 0;
}
#about section:nth-child(1) blockquote > * {
  grid-area: blockquote;
}
#about section:nth-child(1) blockquote p {
  position: relative;
  margin-bottom: 0;
  padding: 0.5em;
}
#about section:nth-child(1) blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#about section:nth-child(2) {
  position: relative;
}
#about section:nth-child(2) p:nth-of-type(2) {
  align-self: center;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5em;
  font-weight: var(--font-weight-strong);
}
#about section:nth-child(2)::before {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

/* 
* BLOCKS GUIDELINES
*   #contributions is the first article element
*   inside main. It is placed inside a section
*   element belonging to the .container class.
*   
*   Its explanation of the style stage
*   participation guidelines is also wrapped in 
*   a .container section element.
*/
#guidelines h3 {
  display: inline-block;
  transform: rotate(-8deg) translateX(-10%);
  background: linear-gradient(to right, var(--color-dark), var(--color-accent));
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines h3 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
@media (min-width: 120ch) {
  #guidelines h3 {
    transform: rotate(-8deg) translateX(-30%);
  }
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines p:nth-of-type(2) {
    position: relative;
  }
  #guidelines p:nth-of-type(2)::before {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(4deg) translate(4.75rem, -3.5rem);
    transform-origin: left center;
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--color-dark-2);
    font-size: 0.9em;
    font-weight: normal;
    content: "← Whoa, text gradients!";
  }
}
#guidelines .container > a {
  align-self: center;
}

/* 
* COMPOSITIONS CONTRIBUTE:
*   Handles layout, element spacing, sizing, and anything 
*   else affecting the overall flow of the third article 
*   element in main. Its first section contains an invitation 
*   to contribute to the style stage project, the second section 
*   provides the guidelines to contribute, and the third section 
*   provides the necessary starter files.
*   
*   Properties affecting the visual styling can be found in blocks/contribute.
*
*/
.contribute #files {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;
}
.contribute #files h3 {
  height: 0;
  opacity: 0;
}
.contribute #files .container {
  display: inline-block;
  padding: 5vmin;
  background-color: var(--color-transparent-dark);
  text-align: center;
}
.contribute #files .container a:not(:last-child) {
  margin: 0.5rem;
}
.contribute #files .container a:not(:last-child):not(.link-codepen) {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

/* 
* COMPOSITIONS PROFILE:
*   .profile is the first aside element under
*   main (#styles is the second one). It displays 
*   information linked to the staged style's author.
*/
.profile {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto 10vh;
  padding: 1.25rem;
  z-index: 1;
}
.profile .container {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
}
.profile .container > a {
  min-height: 2em;
  border: 2px solid currentColor;
  color: var(--color-anchor);
}
.profile li {
  display: flex;
  padding: 0.45em;
}
.profile li span:nth-child(1) {
  width: auto;
  margin-right: 0.25em;
  font-weight: var(--font-weight-strong);
}
.profile li span:nth-child(2) {
  flex-grow: 1;
  word-break: break-word;
}
.profile li span:nth-child(2) a {
  color: inherit;
}
@media (min-width: 180ch) {
  .profile {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    max-width: 30ch;
    margin-bottom: 0;
    border-radius: var(--border-radius);
    background-color: var(--color-extra-light);
    box-shadow: 0 2px 5px rgba(var(--color-dark), 0.15);
  }
  .profile ul {
    justify-content: unset;
  }
  .profile ul li {
    padding: 0;
  }
  .profile ul li span:nth-child(1) {
    width: 8ch;
    margin-right: 0;
  }
}

/* 
* COMPOSITIONS FEATURES:
*   Handles layout for the second aside element,
*   #styles, and its children. 3 featured styles 
*   are currently shown below the 'Featured Styles' 
*   headline. Properties that affect the visual 
*   effects like color can be found in blocks/features.
*/
#styles {
  padding: 1rem;
  margin: 5vh 0 20vh;
  text-align: center;
}
#styles .features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  /*! 
    * SVGs from Hero Patterns
    * @link http://www.heropatterns.com/
    */
}

.features li {
  display: grid;
  position: relative;
  place-content: center;
  min-height: 12rem;
  padding: 1rem;
  text-align: center;
}
.features li > span {
  display: grid;
  place-content: center;
  padding: 0.5em;
  grid-gap: 0.5rem;
  line-height: 1.1;
}
.features li > span a {
  font-size: 1.3rem;
  font-weight: var(--font-weight-strong);
}
.features li > span a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features li > span:nth-child(2) {
  position: relative;
}
@media (min-width: 515px) and (max-width: 765px) {
  .features li > span:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
  }
}

/* 
* COMPOSITIONS FOOTER:
*   Handles all styling inside the second 
*   footer element, whose class is called 
*   'page-footer'.
*/
.page-footer {
  --banner-height: 2em;
  --banner-padding: 0;
  position: relative;
  padding: 3rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-light);
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d2fbf7' fill-opacity='1'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-position: center -34px;*/
}
.page-footer::before {
  display: inline-grid;
  min-height: var(--banner-height);
  padding: var(--banner-padding);
  place-content: center;
  position: absolute;
  left: 50%;
  width: 2em;
  transform: translate(-50%, -100%);
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 3rem;
  content: "S";
}
.page-footer p:first-child {
  margin-top: 3rem;
  font-weight: var(--font-weight-strong);
  letter-spacing: 0.03em;
  text-align: center;
}
.page-footer p a {
  color: inherit;
}
.page-footer ul {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}
.page-footer .container > :last-child {
  margin-bottom: 0;
}

/* 
* BLOCKS INDEX:
*   Imports all files in the global directory so only
*   this file is imported directly into style.scss
*/
/* 
* COMPOSITIONS NAV:
*   Handles all styling inside the header.
*/
nav a {
  display: inline-grid;
  padding: 0.5rem;
  font-size: 1.25rem;
}
nav a::before {
  width: 100%;
  height: 0.33em;
  background-color: var(--color-transparent-dark);
  opacity: 0.15;
  content: "";
}
nav a:hover::before, nav a:focus::before {
  opacity: 1;
}

/* 
* BLOCKS LINKS:
*   Handles styling of anchor elements 
*   throughout the style stage page.
*/
.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
}
.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.5em;
}

[class^=link]:not(.link-codepen) {
  min-height: 3em;
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0.18em 0.18em var(--color-secondary);
}

[class^=link]:not(.link-codepen),
.profile .container > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}
[class^=link]:not(.link-codepen):hover, [class^=link]:not(.link-codepen):focus,
.profile .container > a:hover,
.profile .container > a:focus {
  transform: translate(-0.15em, -0.15em);
  box-shadow: 0.3em 0.3em var(--color-secondary);
}
[class^=link]:not(.link-codepen):focus,
.profile .container > a:focus {
  outline-color: transparent;
  outline-style: solid;
}

.page-footer [class^=link] {
  width: 100%;
  min-height: 2.5em;
  background-color: var(--color-background);
  color: var(--color-primary);
}

.link-codepen {
  display: block;
  margin-top: 3rem;
  font-size: 1.35rem;
}
.link-codepen::before {
  position: absolute;
  padding-right: 1.25em;
  transform: translate(15%, -90%) rotate(-3deg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 79.6 187.1'%3E%3Cpath fill='svgColor(primary-alt)' d='M12 131l-2 13-3 26a10 10 0 000 2 1 1 0 001 0 24 24 0 002-3 37 37 0 016-8 73 73 0 007-9l24-33 4-5a70 70 0 006-7l15-20a8 8 0 001-1 1 1 0 000-1 16 16 0 00-2-1l-8-3a69 69 0 01-13-6 7 7 0 00-1-1l-16-6-13-7a57 57 0 00-10-4 17 17 0 01-2-1 2 2 0 01-1-4 18 18 0 012-2 93 93 0 0011-13 95 95 0 018-8l10-11a32 32 0 003-4c3-5 7-9 12-13a12 12 0 011-1 1 1 0 012 0 2 2 0 010 2 27 27 0 01-3 3 104 104 0 00-10 12 115 115 0 01-11 13 102 102 0 00-11 13 78 78 0 01-5 7l-2 2a1 1 0 000 1l19 8 9 4 3 2a77 77 0 0113 5 22 22 0 003 2l17 8a8 8 0 011 1 2 2 0 010 2 22 22 0 01-1 3l-11 14a33 33 0 00-2 3 98 98 0 01-10 13l-5 7-23 31a87 87 0 01-7 9 60 60 0 00-6 8l-2 3a1 1 0 000 1l9-4 12-6 10-6 13-7a10 10 0 012 0 2 2 0 012 1 2 2 0 010 3 24 24 0 01-3 1l-8 4-20 11-24 12a19 19 0 01-2 1 2 2 0 01-3-2 10 10 0 010-2l1-7 3-24 3-21a39 39 0 011-5 2 2 0 013-1 2 2 0 011 2v4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 130%;
  background-size: 14%;
  color: #6f6ffd;
  font-size: 0.85em;
  content: "Jump right in";
}

.link-allstyles {
  font-size: 1.35rem;
}
@media (max-width: 400px) {
  .link-allstyles {
    margin-left: 6rem;
  }
}

.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}

/* 
* BLOCKS GUIDELINES
*   Handles decorative styling and visual effects of the second
*   article element in main, which displays the guidelines that
*   must be followed to submit a new style stage.
*/
#guidelines h3 {
  display: inline-block;
  transform: rotate(-8deg) translateX(-10%);
  background: linear-gradient(to right, var(--color-dark), var(--color-accent));
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines h3 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
@media (min-width: 120ch) {
  #guidelines h3 {
    transform: rotate(-8deg) translateX(-30%);
  }
}

.features li {
  background-color: var(--color-accent);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: var(--color-background);
}
.features li > span {
  border: 1px solid var(--color-background);
  background-color: var(--color-secondary);
}
.features li a {
  color: inherit;
}
.features li a::before {
  content: "";
}
.features li:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.features li:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
