/* 
* DESIGN TOKENS INDEX: 
*   Imports all files in the global directory so only
*   this file is imported directly into style.scss
*/
/*
* handles 3 font-based properties:
* font-family, font-size, and font-weight
*/
@font-face {
  font-family: "Cybersky";
  src: url("../sass/resources/fonts/cybersky-trial-font/misc/Cybersky Free Trial-2c0d.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Reformation Sans";
  src: url("../sass/resources/fonts/reformation-sans-regular-font/ReformationSansRegular-32mL.ttf") format("truetype");
  font-display: swap;
}
@property --color-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: #DA40D3;
}
@property --color-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: #FFD542;
}
/* 
* UTILITIES INDEX 
*   Imports all files in the global directory so only
*   this file is imported directly into style.scss
*/
/* 
* GLOBAL VARIABLES: 
*   Creates CSS variables and sets their 
*   values using design tokens.
*/
:root {
  --color-dark: #09182F;
  --color-dark-secondary: #431D6E;
  --color-dark-accent: #352C85;
  --color-accent: #DA40D3;
  --color-accent-secondary: #FFE5B9;
  --color-contrast: #16C8E3;
  --color-contrast-dark: #0d798a;
  --color-high-contrast: #FFD542;
  --color-extra-light: #fff;
  --color-transparent-dark: rgba(86, 44, 133, 0.3294117647);
  --bg-color-section: #09182F;
  --bg-color-footer: #09182F;
  --font-family-body: "Reformation Sans";
  --font-family-h1: "Cybersky";
  --font-family-h2: "Reformation Sans";
  --font-family-h3: "Reformation Sans";
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --font-size-anchor: 1.125rem;
  --font-weight-strong: 500;
  --font-weight-heavy: 700;
  --border-radius: 8px;
  --font-family-no-primary: sans-serif;
}

/* 
* UTILITIES TYPOGRAPHY:
*   Uses mixins to apply style patterns to certain
*   text elements so they appear inside a box.
*/
/* UTILITIES SPACING:
*   Uses mixins to apply commonly-used margins
*   and padding to elements.
*/
/* 
* UTILITIES LAYOUT:
*   Defines layout-based mixins
*   using flexbox and grid.
*/
/* 
* GLOBAL INDEX: 
*   Imports all files in the global directory so only
*   this file is imported directly into style.scss
*/
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* 
* GLOBAL LAYOUT
*   Applies properties to some of the largest
*   elements, mainly to affect the overall layout.
*/
body {
  background-image: linear-gradient(to bottom, #09182F, #352C85, #431D6E, #01040A);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 100%;
  max-width: 100ch;
  margin-left: auto;
  margin-right: auto;
}

header .container {
  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  text-align: center;
}
header .container h2 {
  max-width: 30ch;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
main:focus {
  outline: none;
}

article {
  padding: 1rem;
}
article > ol > li + li {
  margin-top: 1rem;
}
article * + h2 {
  text-align: center;
  padding: 0.25em 0.5em;
  background-color: var(--color-secondary);
  color: var(--color-background);
}

/* 
* GLOBAL TYPOGRAPHY: 
*   Handles general styling of text elements with
*   properties such as font-family, size, weight, 
*   line-height, spacing, and color.
*/
body {
  font-family: var(--font-family-body), var(--font-family-no-primary);
}

section,
header {
  color: var(--color-extra-light);
}

footer > * {
  color: var(--color-footer);
}

p,
li {
  margin: 0 0 1rem;
  font-size: var(--font-size-text);
}

a {
  color: var(--color-extra-light);
  text-decoration: none;
  font-size: var(--font-size-anchor);
}

p a {
  color: var(--color-contrast);
}

li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
}

nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  margin: 0.25rem;
}
nav a {
  display: inline-grid;
  padding: 0.5rem 0;
  font-size: var(--font-size-h4);
}

strong {
  font-weight: var(--font-weight-strong);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
  align-self: center;
}

h1 {
  font-family: var(--font-family-h1), var(--font-family-no-primary);
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
  color: var(--color-extra-light);
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  margin-top: 4rem;
  color: var(--color-extra-light);
}

h3 {
  font-size: var(--font-size-h3);
  color: var(--color-accent-secondary);
  margin-top: 2rem;
}

h4 {
  font-size: var(--font-size-h4);
  color: var(--color-accent-secondary);
  text-align: center;
  margin: 0;
}

/* 
* COMPOSITIONS INDEX:
*   Each file handles layout, element spacing, sizing, and 
*   anything else affecting the overall flow of major elements
*   and their children.
*
*   Imports all files in the global directory so only
*   this file is imported directly into style.scss. 
*/
/* 
* COMPOSITIONS ABOUT:
*   #about is the first article element in
*   main. It contains two .container sections. 
*   The first section talks about the Style Stage
*   project, and second section lists the many CSS 
*   styling tools available today. Decorative styles
*   for these elements are found in blocks/about.
*/
#about {
  font-size: var(--font-size-h4);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#about section:nth-child(1) {
  padding: 3ch;
}
#about section:nth-child(1) blockquote {
  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
}
#about section:nth-child(1) blockquote > * {
  grid-area: blockquote;
}
#about section:nth-child(1) blockquote p {
  position: relative;
  margin-bottom: 0;
  padding: 0.6em;
}
#about section:nth-child(1) blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#about section:nth-child(2) {
  padding: 3ch;
  position: relative;
}
#about section:nth-child(2) p:nth-of-type(2) {
  margin-top: 2rem;
  font-size: 1.5em;
  align-self: center;
}
#about section:nth-child(2) p {
  margin-top: 2rem;
}
#about section:nth-child(2)::before {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

/* 
* BLOCKS GUIDELINES
*   #contributions is the first article element
*   inside main. It is placed inside a section
*   element belonging to the .container class.
*   
*   Its explanation of the style stage
*   participation guidelines is also wrapped in 
*   a .container section element.
*/
#guidelines {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: ". guideline";
  gap: 20px;
}
#guidelines .container {
  grid-area: guideline;
  padding: 3ch;
}
#guidelines h3 {
  display: inline-block;
  align-self: start;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines p:nth-of-type(2) {
    position: relative;
  }
  #guidelines p:nth-of-type(2)::before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.9em;
    font-weight: normal;
  }
}
#guidelines .container > a {
  align-self: center;
}

/* 
* COMPOSITIONS CONTRIBUTE:
*   Handles layout, element spacing, sizing, and anything 
*   else affecting the overall flow of the third article 
*   element in main. Its first section contains an invitation 
*   to contribute to the style stage project, the second section 
*   provides the guidelines to contribute, and the third section 
*   provides the necessary starter files.
*   
*   Properties affecting the visual styling can be found in blocks/contribute.
*
*/
#contribute {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "contribute steps" "sourcefiles steps";
  gap: 20px;
}
#contribute section:nth-child(1) {
  grid-area: contribute;
}
#contribute section:nth-child(2) {
  grid-area: steps;
}
#contribute footer {
  grid-area: sourcefiles;
}
#contribute #files .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "title title" "linkCSS linkHTML" "fork fork";
  padding: 5vmin;
  text-align: center;
}
#contribute #files h3 {
  grid-area: title;
}
#contribute #files .link-downloadcss {
  grid-area: linkCSS;
}
#contribute #files .link-downloadhtml {
  grid-area: linkHTML;
}
#contribute #files .link-codepen {
  grid-area: fork;
}

/* 
* COMPOSITIONS PROFILE:
*   .profile is the first aside element under
*   main (#styles is the second one). It displays 
*   information linked to the staged style's author.
*/
.profile {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto 10vh;
  padding: 1rem;
  z-index: 1;
}
.profile .container {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
}
.profile .container #profile-title {
  color: var(--color-dark);
}
.profile .container > a {
  min-height: 2em;
  padding: 0.75rem;
}
.profile li {
  display: flex;
  padding: 0.45em;
}
.profile li span:nth-child(1) {
  width: auto;
  margin-right: 0.25em;
  font-weight: var(--font-weight-strong);
}
.profile li span:nth-child(2) {
  flex-grow: 1;
  word-break: break-word;
}
.profile li span:nth-child(2) a {
  color: inherit;
}
@media (min-width: 180ch) {
  .profile {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    max-width: 30ch;
    margin-bottom: 0;
    border-radius: var(--border-radius);
    background-color: var(--color-extra-light);
    box-shadow: 0 2px 5px rgba(var(--color-dark), 0.15);
  }
  .profile ul {
    justify-content: unset;
  }
  .profile ul li {
    padding: 0;
  }
  .profile ul li span:nth-child(1) {
    width: 8ch;
    margin-right: 0;
  }
}

/* 
* COMPOSITIONS FEATURES:
*   Handles layout for the second aside element,
*   #styles, and its children. 3 featured styles 
*   are currently shown below the 'Featured Styles' 
*   headline. Properties that affect the visual 
*   effects like color can be found in blocks/features.
*/
#styles {
  padding: 1rem;
  margin: 5vh 0 20vh;
  text-align: center;
}
#styles .features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  /*! 
    * SVGs from Hero Patterns
    * @link http://www.heropatterns.com/
    */
}

.features li {
  display: grid;
  position: relative;
  place-content: center;
  min-height: 12rem;
  padding: 1rem;
  text-align: center;
}
.features li > span {
  display: grid;
  place-content: center;
  padding: 0.5em;
  grid-gap: 0.5rem;
  line-height: 1.1;
}
.features li > span a {
  font-size: 1.3rem;
  font-weight: var(--font-weight-strong);
}
.features li > span a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features li > span:nth-child(2) {
  position: relative;
}
@media (min-width: 515px) and (max-width: 765px) {
  .features li > span:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
  }
}

/* 
* COMPOSITIONS FOOTER:
*   Handles all styling inside the second 0
*   footer element, whose class is called 
*   'page-footer'.
*/
.page-footer {
  position: relative;
  padding: 3rem 1rem;
}
.page-footer::before {
  position: absolute;
  left: 50%;
  width: 2em;
  transform: translate(-50%, -100%);
  font-size: 5rem;
  font-family: var(--font-family-h1), var(--font-family-no-primary);
  content: "S";
  background-image: linear-gradient(to bottom right, #FFD542 10%, #FFE5B9 0%, #e7ba19 40%);
  background-clip: text;
  color: transparent;
}
.page-footer p:first-child {
  margin-top: 3rem;
  font-weight: var(--font-weigh);
  letter-spacing: 0.03em;
  text-align: center;
}
.page-footer p, .page-footer a {
  color: #fff;
}
.page-footer ul {
  color: #FFD542;
}
.page-footer .container > :last-child {
  margin-bottom: 0;
}

/* 
* BLOCKS INDEX:
*   Imports all files in the global directory so only
*   this file is imported directly into style.scss
*/
/* 
* BLOCKS LINKS:
*   Handles styling of anchor elements 
*   throughout the style stage page.
*/
.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
}
.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.5em;
}

.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: var(--color-accent-secondary);
}

header .link-github {
  color: var(--color-accent);
}

.page-footer .link-github {
  color: var(--color-dark);
  padding: 15px;
  border-radius: 5px;
  background: linear-gradient(10deg, var(--color-1), var(--color-2));
  transition: --color-1 1000ms, --color-2 1000ms;
}

[class^=link] {
  min-height: 3em;
  color: var(--color-accent);
}

.container a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  line-height: 1;
  text-align: center;
  color: var(--color-contrast);
}
.container a:hover, .container a:focus {
  transform: translate(-0.15em, -0.15em);
}
.container a:focus {
  outline-color: transparent;
  outline-style: solid;
}

/* 
* BLOCKS HEADER:
*   Handles all styling inside the header.
*   The header element is simple enough that
*   its layout-related properties are stored
*   in global/layout.
*/
header .container a {
  padding: 0.5rem 0;
}

/* 
* BLOCKS NAV:
*   Handles all styling inside the nav element
*   containing links to various sections throughout
*   index.html. 
*
*   The nav element is simple enough that its layout
*   related properties are stored in global/layout.
*/
nav::before {
  width: 100%;
  height: 0.33em;
  background-color: var(--color-transparent-dark);
  opacity: 0.15;
  content: "";
}
nav:hover::before, nav:focus::before {
  opacity: 1;
}

#about section:nth-child(1) {
  background-color: var(--color-dark-secondary);
  border-radius: 20px;
}
#about section:nth-child(1) blockquote {
  border-left: 4px solid var(--color-accent);
}
#about section:nth-child(1) strong {
  color: var(--color-accent);
  font-weight: var(--font-weight-heavy);
  font-size: var(--font-size-h4);
}

#about section:nth-child(2) {
  background-color: var(--color-dark-secondary);
  border-radius: 20px;
}
#about section:nth-child(2) li {
  color: var(--color-dark);
  background-color: var(--color-contrast);
  border: 3px solid var(--color-contrast-dark);
  border-radius: 10px;
}

/* 
* BLOCKS GUIDELINES
*   Handles decorative styling and visual effects of the second
*   article element in main, which displays the guidelines that
*   must be followed to submit a new style stage.
*/
#guidelines section:nth-child(1) {
  background-color: var(--color-dark-secondary);
  border-radius: 20px;
}
#guidelines section:nth-child(1) h2 {
  align-self: flex-start;
}
#guidelines h3 {
  transform: rotate(-8deg) translateX(-10%);
  background: linear-gradient(to right, var(--color-high-contrast), var(--color-accent));
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines h3 {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
@media (min-width: 120ch) {
  #guidelines h3 {
    transform: rotate(-8deg) translateX(-20%);
  }
}
#guidelines a {
  color: var(--color-contrast);
}

/* 
* BLOCKS CONTRIBUTE:
*   Handles decorative styling and visual effects of the third 
*   article element in main. Its first section contains an invitation 
*   to contribute to the style stage project, the second section 
*   provides the guidelines to contribute, and the third section provides 
*   the necessary starter files.
*
*/
#contribute section:nth-child(1), #contribute section:nth-child(2), #contribute footer {
  background-color: var(--color-dark-secondary);
  border-radius: 20px;
  padding: 3ch;
}
#contribute section:nth-child(1) h2, #contribute section:nth-child(1) h3, #contribute section:nth-child(2) h2, #contribute section:nth-child(2) h3, #contribute footer h2, #contribute footer h3 {
  align-self: flex-start;
  font-size: var(--font-size-h2);
  margin-top: 4rem;
  color: var(--color-extra-light);
}
#contribute section:nth-child(2) a, #contribute footer a {
  color: var(--color-contrast);
}
#contribute footer h3 {
  margin-top: 2rem;
  color: var(--color-extra-light);
}
#contribute .link-codepen {
  border: 3px solid var(--color-extra-light);
}

.profile .container > a {
  border: 2px solid currentColor;
  color: var(--color-anchor);
}

/*Plan B: coment out custom property below if animation is not supported by your browser*/
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.features li {
  width: 10em;
  height: 10em;
  background: var(--color-dark-secondary);
  position: relative;
  color: var(--color-extra-light);
  border-radius: 50%;
}
.features li::before,
.features li ::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: linear-gradient(var(--gradient-angle), var(--color-accent), var(--color-contrast));
  border-radius: 50%;
  animation: rotation 3.5s linear infinite;
}
.features li ::after {
  filter: blur(3rem);
}
.features li > span {
  border: 1px solid var(--color-background);
  background-color: var(--color-secondary);
}
.features li a {
  color: inherit;
}
.features li a::before {
  content: "";
}
.features li:nth-child(2) {
  animation: floating2 6s linear infinite;
}
.features li:nth-child(3) {
  animation: floating1 6s linear infinite;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle:360deg;
  }
}
.page-footer [class^=link] {
  width: 100%;
  min-height: 2.5em;
  color: var(--color-dark);
  padding: 15px;
  border-radius: 5px;
  background: linear-gradient(10deg, var(--color-1), var(--color-2));
  transition: --color-1 1000ms, --color-2 1000ms;
}
.page-footer [class^=link]:hover {
  --color-1:#FFD542;
  --color-2:#e035d8;
}

.page-footer .link-codepen {
  display: block;
  margin-top: 3rem;
  font-size: 1.35rem;
}

.link-allstyles {
  font-size: 1.35rem;
}
@media (max-width: 400px) {
  .link-allstyles {
    margin-left: 6rem;
  }
}
