/* 
* COMPOSITIONS ABOUT:
*   #about is the first article element in
*   main. It contains two .container sections. 
*   The first section talks about the Style Stage
*   project, and second section lists the many CSS 
*   styling tools available today. Decorative styles
*   for these elements are found in blocks/about.
*/

#about {
  font-size: var(--font-size-h4);
  strong {
    font-size: var(--font-size-strong);
  }
}

// first section about setting the stage
#about section:nth-child(1) {
  
    blockquote {
      position: relative;
      display: grid;
      grid-template-areas: "blockquote";
      place-items: center;
      padding: 0;
      margin: 3rem 0;
    
      > * {
        grid-area: blockquote;
      }
    
      p {
        position: relative;
        margin-bottom: 0;
        padding: 0.5em;
      }
    
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

// second section about 'Modern CSS Under the Spotlight'
#about section:nth-child(2) {

  position: relative; 

  p:nth-of-type(2) {
    align-self: center;
    margin-top: 2rem;
    text-align: center; 
    font-size: 1.5em;
    font-weight: var(--font-weight-strong);
  }

  &::before {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
}

