/* 
* COMPOSITIONS ARTICLE:
*   Handles the structuring of article elements
*   mainly using their .container direct
*   children and additional descendant elements 
*   shared among all three articles.
*/
article {
    padding: 1rem;

    .container {
        // max-width 80ch w/left and right margins set to auto
        @include auto-lr-margins;
        @include max-width-standard;
        
        // arranged in column direction w/items aligned to flex-start
        @include flex-column-w-start-items;

        > ol {
        > li + li {
            margin-top: 1rem; // applied to li elements inside ol and ul lists
        }
        }
    
        * {
        + h2 {
            margin-top: 4rem;
            align-self: center;
            @include h2-box; // adjusts text alignment, padding, color, and background-color
        }
    
        + h3 {
            margin-top: 2rem;
        }
        }
    }
}