/* 
* COMPOSITIONS CONTRIBUTE:
*   Handles layout, element spacing, sizing, and anything 
*   else affecting the overall flow of the third article 
*   element in main. Its first section contains an invitation 
*   to contribute to the style stage project, the second section 
*   provides the guidelines to contribute, and the third section 
*   provides the necessary starter files.
*   
*   Properties affecting the visual styling can be found in blocks/contribute.
*
*/
#contribute {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "contribute steps"
    "sourcefiles sourcefiles";

  section:nth-child(1) {
    grid-area: contribute;
  }

  section:nth-child(2) {
    grid-area: steps;
  }

  footer {
    grid-area: sourcefiles;
  }


  #files {
  
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 
        "title title title"
        "linkCSS linkHTML fork";
      padding: 5vmin;
      text-align: center;
    }

    h3 {
      grid-area: title;
    }

    .link-downloadcss{
      grid-area: linkCSS;
    }

    .link-downloadhtml {
      grid-area: linkHTML;
    }

    .link-codepen {
      grid-area: fork;
    }
  }
}