/* 
* COMPOSITIONS FOOTER:
*   Handles all styling inside the second 0
*   footer element, whose class is called 
*   'page-footer'.
*/

.page-footer {
  position: relative;
  padding: 3rem 1rem;

  &::before {
    position: absolute;
    left: 50%;
    width: 2em;
    font-size: 5rem;
    font-family: var(--font-family-h1), var(--font-family-no-primary);
    content: "S";
    color:var(--color-extra-light);
    @include logo-glow;
  }

  p:first-child {
    margin-top: 6rem;
    font-weight: var(--font-weigh);
    letter-spacing: 0.03em;
    text-align: center;
  }

  p, a {
    color: $extra-light;
  }

  ul {
    color:$high-contrast;
    // @include grid-list;
    // grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
  }

  .container > :last-child {
    margin-bottom: 0;
  }
}


