/* 
* COMPOSITIONS FOOTER:
*   Handles all styling inside the second 0
*   footer element, whose class is called 
*   'page-footer'.
*/
.page-footer {
  position: relative;
  padding: 3rem 1rem;


  &::before {

    position: absolute;
    left: 50%;
    width: 2em;
    transform: translate(-50%, -100%);
    font-size: 3rem;
    content: "S";
    color:var(--color-contrast);
  }

  p:first-child {
    margin-top: 3rem;
    font-weight: var(--font-weigh);
    letter-spacing: 0.03em;
    text-align: center;
  }

  p, a {
    color: $extra-light;
    text-align: center;
  }

  ul {
    color:$high-contrast;
    // @include grid-list;
    // grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
  }

  .container > :last-child {
    margin-bottom: 0;
  }
}
