/* 
* BLOCKS GUIDELINES
*   #contributions is the first article element
*   inside main. It is placed inside a section
*   element belonging to the .container class.
*   
*   Its explanation of the style stage
*   participation guidelines is also wrapped in 
*   a .container section element.
*/

#guidelines {
  font-size: var(--font-size-h4);
  display:grid;
  grid-template-columns: 1fr;

  .container {
    grid-area: guideline;
    padding: 3ch;
  }

  h3 {
    display: inline-block;
    align-self: start;
    
  }

  @supports (background-clip: text) or (-webkit-background-clip: text) {
    p:nth-of-type(2) {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.9em;
        font-weight: normal;
      }
    }
  }

  .container > a {
    align-self: center;
  }
}
