main::before{
  content: url("data:image/svg+xml,%3Csvg id='10015.io' viewBox='0 0 480 480' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' %3E%3Cpath fill='%23DA40D3' d='M354.5,267.5Q364,295,380,354Q396,413,352.5,432Q309,451,265,435.5Q221,420,202,379Q183,338,135.5,344Q88,350,81,312.5Q74,275,40.5,232.5Q7,190,38,153Q69,116,101,85.5Q133,55,175.5,41.5Q218,28,262,32Q306,36,306.5,101Q307,166,329.5,178Q352,190,348.5,215Q345,240,354.5,267.5Z' /%3E%3C/svg%3E");
  display: block;
  position: absolute;
  transform: scale(3.5);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  top: 2000px;
  left: 500px;
}

// first section headline: 'Setting the Stage'
#about section:nth-child(1), #about section:nth-child(2) {
  //background-color: var(--bg-color-section);
  border-radius: 20px;
  background-color: var(--color-bg-glassmorphism);
  box-shadow: 0 8px 32px 0 var(--color-dark);
  backdrop-filter: blur(20px);
}

#about section:nth-child(1) {

    blockquote {
      border-left: 4px solid var(--color-accent);
    }

    strong {
      color: var(--color-accent);
      font-weight: var(--font-weight-heavy);
      font-size: var(--font-size-h4);
    }
}

#about section:nth-child(2) {

    li {
        color: var(--color-dark);
        background-color: var(--color-contrast);
        border: 3px solid var(--color-contrast-dark);
        border-radius: 10px;
    }
}

