// first section headline: 'Setting the Stage'
#about section:nth-child(1) {
  background-color: var(--color-dark-secondary);
  border-radius: 20px;

    blockquote {
      border-left: 4px solid var(--color-accent);
    }

    strong {
      color: var(--color-accent);
      font-weight: var(--font-weight-heavy);
      font-size: var(--font-size-h4);
    }
}

#about section:nth-child(2) {
  background-color: var(--color-dark-secondary);
  border-radius: 20px;

    li {
        color: var(--color-dark);
        background-color: var(--color-contrast);
        border: 3px solid var(--color-contrast-dark);
        border-radius: 10px;
    }
}

