/*#about {
   
}*/

// first section headline: 'Setting the Stage'
/*#about section:nth-child(1) {

}*/

#about section:nth-child(2) {

    p:nth-child(2) {
        color: var(--color-dark-2);
    }

    li {
        background-color: var(--color-light);
    }
}

