/*Plan B: coment out custom property below if animation is not supported by your browser*/
  @property --gradient-angle{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  // each featured style inside the ul has 
  // its own animation, but the 
  // SVG form is the same for all.
  .features {
    li {
      width:10em;
      height: 10em;
      background: var( --color-dark-secondary);
      position:relative;
      color: var(--color-extra-light);
      border-radius: 50%;

      &::before,
      ::after {
        content:"";
        position: absolute;
        inset: -.5rem;
        z-index: -1;
        background:linear-gradient(
          var(--gradient-angle),
          var(--color-accent),
          var(--color-contrast));
        border-radius: 50%;
        animation:rotation 3.5s linear infinite;
      }
      ::after{
        filter: blur(3rem);
      }
      > span {
        border: 1px solid var(--color-background);
        background-color: var(--color-secondary);
      }

      a {
        color: inherit;
        
        &::before {
          content: "";
        }
      }
   
      &:nth-child(2) {
        animation:floating2 6s linear infinite;
     }
  
      &:nth-child(3) {
        animation:floating1 6s linear infinite;
      }      
    }
  }

  @keyframes rotation {
    0% {--gradient-angle: 0deg; }
    100% {--gradient-angle:360deg;}
  }
  

  
