
// stylelint-disable-next-line no-descending-specificity
.page-footer [class^="link"] {
    width: 100%;
    min-height: 2.5em;
    @include link-gradient;
    // color: var(--color-dark);
    // padding: 15px;
    // border-radius:5px;
    // background: linear-gradient(10deg, var(--color-1), var(--color-2));
    // transition: --color-1 1000ms, --color-2 1000ms;
    &:hover{
      --color-1:#FFD542;
      --color-2:#e035d8; 
    }
  }
  
.page-footer .link-codepen {
    display: block;
    margin-top: 3rem;
    font-size: $font-size-h4;
  }


.link-allstyles {
    font-size: $font-size-h4;
  
    @media (max-width: 400px) {
      margin-left: 6rem;
    }
  }
  
  