
// stylelint-disable-next-line no-descending-specificity
.page-footer [class^="link"] {
    width: 100%;
    min-height: 2.5em;
    @include link-gradient;
   
    &:hover{
      --color-1:#FFD542;
      --color-2:#e035d8; 
    }
  }
  
.page-footer .link-codepen {
    display: block;
    margin-top: 3rem;
    font-size: $font-size-h4;
  }


.link-allstyles {
    font-size: $font-size-h4;
  
    @media (max-width: 400px) {
      margin-left: 6rem;
    }
  }
  
  