
// stylelint-disable-next-line no-descending-specificity
.page-footer [class^="link"] {
    width: 100%;
    min-height: 2.5em;
    @include link-gradient;
   
  }
  
.page-footer .link-codepen {
    display: block;
    margin-top: 3rem;
    font-size: $font-size-h4;
  }


.link-allstyles {
    font-size: $font-size-h4;
    align-self: center;
  
    @media (max-width: 400px) {
      margin-left: 6rem;
    }
  }

  .page-footer > .container {
    align-items: center;
    text-align: center;
  }

  
  
  