/* 
* BLOCKS GUIDELINES
*   Handles decorative styling and visual effects of the second
*   article element in main, which displays the guidelines that
*   must be followed to submit a new style stage.
*/
#guidelines {

  section:nth-child(1) {
    border-radius: 20px;
    background-color: var(--color-bg-glassmorphism);
    box-shadow: 0 8px 32px 0 var(--color-dark);
    backdrop-filter: blur(20px);

    h2 {
      align-self: flex-start;
    }
  }

  h3 {
    transform: rotate(-8deg) translateX(-10%);
    background: linear-gradient(to right, var(--color-high-contrast), var(--color-accent));
  
    @supports (background-clip: text) or (-webkit-background-clip: text) {
        -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  
    @media (min-width: 120ch) {
      transform: rotate(-8deg) translateX(-20%);
    }
  }
  a {
    color: var(--color-contrast);
  }
}
