/* 
* BLOCKS LINKS:
*   Handles styling of anchor elements 
*   throughout the style stage page.
*/

// very first child element inside body that doesn't 
// currently display (may want to find a way to incorporate
// it by moving into viewport)
.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;

  &:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0.5em;
  }
}

// found in header and footer
.link-github {
  // star svg
  svg {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
<<<<<<< HEAD
    fill:var(--color-accent-secondary); 
=======
    fill: var(--color-accent);
>>>>>>> 1b6fb9ae53697aa51d50b03eff1399306f12c0b7
  }
} 
header .link-github {
  color: var(--color-accent);
}
.page-footer .link-github {
  @include link-gradient;
}

// applies to most links except those in nav, in footer
// link in the source files 
[class^="link"] {
  min-height: 3em;
  color:var(--color-accent);
}

.container a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  line-height: 1;
  text-align: center;
  color: var(--color-contrast);

  &:hover,
  &:focus {
    transform: translate(-0.15em, -0.15em);
  }

  &:focus {
    outline-color: transparent;
    outline-style: solid;
  }
}



